In [1]:
import datetime

In [6]:
mytime = datetime.time(2,20,1,20)

In [7]:
mytime.minute

20

In [8]:
mytime.hour

2

In [9]:
print(mytime)

02:20:01.000020

In [10]:
mytime.microsecond

20

In [11]:
type(mytime)

datetime.time

In [12]:
today = datetime.date.today()

In [13]:
print(today)

2021-02-04

In [17]:
today.year

2021

In [18]:
today.month

2

In [19]:
today.day

4

In [21]:
today.ctime()

'Thu Feb  4 00:00:00 2021'

In [22]:
from datetime import datetime

In [24]:
mybirthday = datetime(2021, 4, 11, 15,30, 50)

In [25]:
print(mybirthday)

2021-04-11 15:30:50

In [31]:
myrealbd = mybirthday.replace(year=2000)

In [32]:
print(myrealbd)

2000-04-11 15:30:50

In [33]:
print(mybirthday)

2021-04-11 15:30:50

In [34]:
# DATE

In [35]:
from datetime import date

In [37]:
date1 = date(2021,11,3)
date2 = date(2020, 11, 3)

In [39]:
result = date1 - date2

In [41]:
type(result)

datetime.timedelta

In [42]:
result.days

365

In [43]:
datetime1 = datetime(2021,11,3,22,0)

In [44]:
datetime2 = datetime(2020,11,3,12,0)

In [46]:
ans = datetime1 - datetime2

In [48]:
time_dif = ans.seconds/60/60

In [49]:
type(time_dif)

float

In [54]:
print(str(time_dif) + ' hours difference')

10.0 hours difference

In [55]:
ans.total_seconds()

31572000.0